---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Farks of the Larks"
	pubDate={new Date('June 03 2024')}
	heroImage="/jaws.jpg"
>
	<p>
		Hi! I'm a a duder that's messing around on the web. Clear eyes, full hearts.
	</p>

</Layout>
