---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Farks"
	pubDate={new Date('July 05 2024')}
>
	<p>
		Hi! I'm a a duder that's messing around on the web.
	</p>

</Layout>
