---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import me_alien_pic from '../assets/ME_ALIEN.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="alternate" type="application/rss+xml" 
  			title="RSS Feed for My Website" 
  			href="rss.xml" />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="caution">Hi, I'm Mark</h1>
			<h2 class="title">I'm a Software Developer</h2>
			<p>This is my little space on the web to talk about software and other random things.</p>
			<Image src={me_alien_pic} alt="author" width="400" height="400" />

						<!-- Contact Section -->
						<section class="contact">
							<h3>Contact Me</h3>
							<p>
								<a href="https://www.linkedin.com/in/mark-outcalt-b3391529/" target="_blank">LinkedIn</a> | 
								<a href="https://docs.google.com/document/d/1-GrFtmUObAP2UkwQAUPnU6cUUIL7FkbGaS7ek33NQYo/edit?tab=t.0" target="_blank">Resume</a>
							</p>
						</section>
		</main>
		<Footer />
	</body>
</html>

<style>
.caution {
	color: gold;
}
.title {
	color: #FF6F61;
}
main {
	text-align: center;
}

.contact {
	margin-top: 2rem;
	padding: 1rem;
	background-color: #333;
	color: white;
	border-radius: 8px;
	text-align: center;
}
.contact a {
	color: gold;
	text-decoration: none;
	margin: 0 0.5rem;
}
.contact a:hover {
	text-decoration: underline;
}
</style>