---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Favorite Blogs"
	description="Farks of the Larks"
	pubDate={new Date('June 22 2024')}
>
These are sites that I find myself bookmarking again and again:
<ul>
	<li><a target="_blank" href="https://www.joshwcomeau.com/">https://www.joshwcomeau.com/</a></li>
	<li><a target="_blank" href="https://blog.frankel.ch/">https://blog.frankel.ch/</a></li>
	<li><a target="_blank" href="https://www.hillelwayne.com/post/">https://www.hillelwayne.com/post/</a></li>
	<li><a target="_blank" href="https://joshcollinsworth.com/blog">https://joshcollinsworth.com/blog</a></li>
	<li><a target="_blank" href="https://www.charlespetzold.com/blog/">https://www.charlespetzold.com/blog/</a></li>
  </ul>
</Layout>
