---
import type { HTMLAttributes } from 'astro/types';

interface LinkProps extends HTMLAttributes<'a'> {
  href?: string;
  class?: string;
}

const { pathname } = new URL(Astro.request.url);
const subpath = pathname.match(/[^/]+/g);

const {
  href = '',
  class: className = '',
  ...rest
} = Astro.props as LinkProps;

const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive }
  ]}
  {...rest}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
